[Unit]
Description=Generate and execute a systemd-cryptsetup service to decrypt the ROOT partition

DefaultDependencies=no
# If systemd-networkd.service is used in the initramfs, then we should run after it, since the ROOT partition
# might use network-bound encryption.
After=systemd-networkd.service dev-disk-by\x2dpartlabel-ROOT.device ignition-disks.service dev-disk-by\x2dlabel-EFI\x2dSYSTEM.device
Wants=dev-disk-by\x2dpartlabel-ROOT.device

RequiresMountsFor=/sysroot

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=SYSTEMD_CRYPTTAB=/dev/stdin
StandardInputText=rootencrypted /dev/disk/by-partlabel/ROOT /sysroot/boot/flatcar/luks2/keyfile luks,tpm2-device=auto,keyfile-timeout=30s
ExecStart=/usr/lib/systemd/system-generators/systemd-cryptsetup-generator /etc/systemd/system
ExecStartPost=/bin/systemctl daemon-reload
ExecStartPost=/bin/systemctl start systemd-cryptsetup@rootencrypted.service
ExecPre=/usr/bin/mount /dev/disk/by-label/EFI-SYSTEM /sysroot/boot
